# Ignore catkin generated folders
devel/
devel/*
build/
build/*
logs/
logs/*
.vscode/
.vscode/*
.rosinstall
.rosinstall.bak
.DS_Store
.catkin_workspace
# Ignore all Rosbags
**.bag
# Ignore all images
**.jpg
**.jpeg

# Others
.idea/
.idea/*
cmake-build-debug/
cmake-build-debug/*
cmake-build-release/
cmake-build-release/*
clion/
clion-cmake/
clion-cmake/*

# Catkin stuff
.catkin_tools/*
.catkin_tools/

**.swp

# binary files
*.pyc

# Profiler files
*.prof
*.pdf
